body {
  background-color: rgb(51 65 85);
  display: flex;
  justify-content: center;
  height: 97vh;
}

.container {
  background-color: #597298;
  width: 84.4%;
  height: 89%;
  border-radius: 15px;
  margin: 32px auto;
  display: flex;
}

.menu {
  width: 65.66%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 44px;
  font-family: monospace; /* set font-family to monospace */
}

.flex h1 {
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
}

.language {
  font-size: 20px; 
  line-height: 50px;
  margin-left: 60%;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.cancel a {
  color: salmon;
  font-weight: 300;
}

img {
  border-radius: 0.5rem;
  width: 70%;
  margin-top: 25%;
  margin-left: 10%;
}